:root {
  font-family: Parkinsans, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

body {
  margin: 0;
}

#app-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#header-wrapper {
  height: 70px;
  background-color: #523f38;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

#header-title {
  color: #dbd5b5;
}

#step-tracker-wrapper {
  position: absolute;
  right: 0;
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
}

.current-step {
  text-decoration: underline;
}

.step {
  font-size: x-large;
  font-weight: 800;
  color: #dbd5b5;
}
