:root {
  font-family: Princess Sofia, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;

  --header-height: 80px;
  --primary-color: #1c2e20;
  --secondary-color: #f7e7d6;
}

body {
  margin: 0;
}

h1 {
  color: var(--primary-color);
}

#app-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header-wrapper {
  height: var(--header-height);
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

#header-title {
  color: var(--secondary-color);
  margin-left: 25px;
}

#step-tracker-wrapper {
  position: absolute;
  right: 0;
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
}

.step {
  font-family: "Sour Gummy", sans-serif;
  font-size: xx-large;
  font-weight: 800;
  color: var(--secondary-color);
}

.current-step {
  text-decoration: underline;
}

#page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - var(--header-height));
  min-width: 300px;
  margin-top: 150px;
}

#service-page-wrapper {
  width: 100%;
}

.placeholder-text {
  color: gray;
}

#date-picker-wrapper {
  display: flex;
  flex-direction: row;
  min-width: 640px;
}

#available-times-wrapper {
  min-width: 320px;
  max-height: 336px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
}

#customer-info-page-wrapper {
  width: 450px;
}

#nav-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
}

#back-button {
  position: absolute;
  left: 0;
}

#next-button,
#submit-button {
  position: absolute;
  right: 0;
}

.title {
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
}

#error-message-wrapper {
  position: absolute;
  background-color: pink;
  border-radius: 2px;
  bottom: 20%;
  padding-left: 50px;
  padding-right: 50px;
}

#error-message {
  color: red;
  text-wrap: nowrap;
}
